<div id="about-banner" class="row">           
    <div class="absolute abstract">
        <img src="view/images/abstract-line.png" />
    </div> 
    <div class="row-mid">
        <div class="absolute name">
            <h1>--title--</h1>
            <h2>--caption--</h2>
        </div>
        <div class="absolute photo">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/arj7oStGLkU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>            
</div>

<div id="about-content" class="row">
    <div class="row-mid">
        <div class="center title">
            <h1>--subtitle--</h1>
        </div>
        <div class="content">
            <img src="view/images/--about-image--">
            --content--
            <div class="clear"></div>
        </div>
    </div>
</div> 