<!DOCTYPE html>
<html>
    <head>
        <title>CMS Dashboard</title>
        <link rel="stylesheet" href="css/global.css" />
        <link rel="stylesheet" href="css/cms.css" />
    </head>
    <body>

        <div id="dash-header" class="row">
            <div class="row-mid">
                <div class="left">Welcome, Arnie Alejandro</div>
                <div class="right">
                    <a href="cms-dashboard.html" class="button" style="background-color: rgb(131, 211, 52);">Home</a>
                    <a class="button">Logout</a>
                </div>
            </div>
        </div>

        <div id="dash-title" class="row">
            <div class="row-mid">
                <h1>Home Settings</h1>
            </div>
        </div>

        <div class="row">
            <div class="row-mid">
                <table style="width: 100%">
                    <tr>
                        <td style="width: 15%">Banner</td>
                        <td style="width: 85%">
                            <div class="input">
                                <input type="file">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>
                            <div class="input">
                                <input type="text">
                            </div>
                        </td>
                    </tr>  
                    <tr>
                        <td>Title Caption</td>
                        <td>
                            <div class="input">
                                <input type="text">
                            </div>
                        </td>
                    </tr>                    
                    <tr>
                        <td>Subtitle</td>
                        <td>
                            <div class="input">
                                <input type="text">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Subtitle Caption</td>
                        <td>
                            <div class="input">
                                <input type="text">
                            </div>
                        </td>
                    </tr>                   

                    <tr>
                        <td colspan=2 style="text-align: right">
                            <a href="cms-dashboard.html" class="button" style="background-color: crimson;">Close</a>
                            <a href="cms-dashboard.html" class="button">Save</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </body>
</html>