<!DOCTYPE html>
<html>
    <head>
        <title>CMS Dashboard</title>
        <link rel="stylesheet" href="css/global.css" />
        <link rel="stylesheet" href="css/cms.css" />
    </head>
    <body>

        <div id="dash-header" class="row">
            <div class="row-mid">
                <div class="left">Welcome, Arnie Alejandro</div>
                <div class="right">
                    <a href="cms-dashboard.html" class="button" style="background-color: rgb(131, 211, 52);">Home</a>
                    <a class="button">Logout</a>
                </div>
            </div>
        </div>

        <div id="dash-title" class="row">
            <div class="row-mid">
                <h1>Messages</h1>
            </div>
        </div>

        <div class="row">
            <div class="row-mid">
                <table style="width: 100%" class="table-list">
                    <tr class="header">
                        <td style="width: 10%"></td>
                        <td style="width: 25%">From</td>
                        <td style="width: 40%">Subject</td>
                        <td style="width: 15%">Date</td>
                        <td style="width: 10%"></td>
                    </tr>
                    <tr class="list bold">
                        <td class="center"><a class="button" style="background-color: crimson">X</a></td>
                        <td>John Doe</td>
                        <td>Inquiry</td>
                        <td>01:30 PM</td>
                        <td class="center"><a class="button">View</a></td>
                    </tr>

                    <tr class="list bold">
                        <td class="center"><a class="button" style="background-color: crimson">X</a></td>
                        <td>John Doe</td>
                        <td>Inquiry</td>
                        <td>01:30 PM</td>
                        <td class="center"><a class="button">View</a></td>
                    </tr>

                    <tr class="list ">
                        <td class="center"><a class="button" style="background-color: crimson">X</a></td>
                        <td>John Doe</td>
                        <td>Inquiry</td>
                        <td>01:30 PM</td>
                        <td class="center"><a class="button">View</a></td>
                    </tr>

                    <tr class="list ">
                        <td class="center"><a class="button" style="background-color: crimson">X</a></td>
                        <td>John Doe</td>
                        <td>Inquiry</td>
                        <td>01:30 PM</td>
                        <td class="center"><a class="button">View</a></td>
                    </tr>

                    <tr class="list bold">
                        <td class="center"><a class="button" style="background-color: crimson">X</a></td>
                        <td>John Doe</td>
                        <td>Inquiry</td>
                        <td>01:30 PM</td>
                        <td class="center"><a class="button">View</a></td>
                    </tr>
                    
                </table>
            </div>
        </div>

    </body>
</html>