<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
        <link rel="stylesheet" href="css/global.css" />
        <link rel="stylesheet" href="css/contact.css" />
    </head> 
    <body>
        
        <div id="top-header" class="row-border fixed">
            <div class="row-mid">
                <div class="section left logo">
                    <img src="images/icons/logo.png" />
                </div>    
                <!--Float Right, right to left orientation-->
                <div class="section right link-login">
                    <a href="#" class="button">Login</a>
                </div>   
                <div class="section right links">
                    <a href="home.html">Home Page</a>
                    <a href="about.html">About Me</a>
                    <a href="contact.html">Contact Me</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div id="contact-banner" class="row"> 
            <div class="background"></div>
            
            <div class="row-mid center">
                <h1>Have questions? </h1>
                <h2>You're in the right place.</h2>
            </div>
        </div>


        <div id="contact-content" class="row">
            <div class="row-mid">
                <div class="column left">
                    <div>We're a distributed company with people located all around the world.</div>
                    <div>We can direct you to local resources to help you:</div>
                    <div>
                        <ul>
                            <li>Apple</li>
                            <li>Banana</li>
                            <li>Grapes</li>
                        </ul>
                    </div>
                    <div>
                        It's important to us that we provide you with what 
                        you need to be <span style="color:green; font-weight: bold;">successful.</span> 
                        Simply complete the form and we'll be in touch soon.
                    </div>
                    <div>
                        Also, make sure to check out 
                        our <a href="about.html">community page</a> for additional questions, 
                        technical or otherwise!
                    </div>
                </div>
                <div class="column right">                    
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 27%">Name</td>
                            <td style="width: 73%">
                                <div class="input">
                                    <input type="text" />
                                </div>
                            </td>                            
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>
                                <div class="input">
                                    <input type="text" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Company Name</td>
                            <td>
                                <div class="input">
                                    <input type="text" />
                                </div>
                            </td>                                                        
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <div class="input">
                                    <input type="text" />
                                </div>
                            </td>                                                        
                        </tr>
                        <tr>
                            <td>Mobile</td>
                            <td>
                                <div class="input">
                                    <input type="text" />
                                </div>
                            </td>                                                        
                        </tr>
                        <tr>
                            <td>Subject</td>
                            <td>
                                <div class="input">
                                    <select>
                                        <option>Inquiry</option>
                                        <option>Proposal</option>
                                        <option>Request</option>
                                    </select>
                                </div>
                            </td>                                                        
                        </tr>
                        <tr>
                            <td colspan="2" >Body</td>
                        </tr>
                        <tr>
                            
                            <td colspan="2">
                                <div class="input">
                                    <textarea style="height: 300px" ></textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: right;">
                                <a class="button">Send</a>
                            </td>
                        </tr>
                    </table>
                </div>



                <div class="clear"></div>
            </div>
        </div>

        
        <div id="footer" class="row">
            <div class="row-mid center">
                <span>Copyright Arnie Alejandro 2020</span>
            </div>
        </div>
    </body>
</html>