#contact-banner {
  position: relative;
  margin-top: 82px;
  height: 300px;
}

#contact-banner .background {
  position: absolute;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  z-index: 1;
  opacity: 0.1;
}

#contact-banner .center {
  padding-top: 100px;
  text-shadow: 1px 1px 20px gray;
}

#contact-content {
  padding-top: 150px;
}

#contact-content .column {
  float: left;
}

#contact-content .column.left {
  width: 480px;
  padding-right: 120px;
}

#contact-content .column.right {
  border: 1px solid #e6ebf2;
  padding: 20px;
  width: 558px;
}

#contact-content .column div {
  margin-bottom: 20px;
}

#contact-content ul {
  margin: 0;
  list-style: circle;
}

#contact-content ul li {
  padding: 5px 0 5px 30px;
}
