<!DOCTYPE html>
<html>
    <head>
        <title>CMS Dashboard</title>
        <link rel="stylesheet" href="css/global.css" />
        <link rel="stylesheet" href="css/cms.css" />
    </head>
    <body>
        <div id="dash-header" class="row">
            <div class="row-mid">
                <div class="left">Welcome, Arnie Alejandro</div>
                <div class="right">
                    <a class="button" style="background-color: rgb(131, 211, 52);">Home</a>
                    <a class="button">Logout</a>
                </div>
            </div>
        </div>


        <div id="dash-home" class="row">
            <div class="row-mid center">

                <div class="dash-item center">
                    <h1>Account Settings</h1>
                    <div>
                        <a href="cms-account-setting.html" class="button" style="background-color: rgb(156, 3, 3)">Manage</a>
                    </div>
                </div>

                <div class="dash-item center">
                    <h1>Home Page</h1>
                    <div>
                        <a href="cms-home-setting.html" class="button">Manage</a>
                    </div>
                </div>

                <div class="dash-item center">
                    <h1>Home Articles</h1>
                    <div>
                        <a href="cms-home-article.html" class="button">Manage</a>
                    </div>
                </div>

                <div class="dash-item center">
                    <h1>About Me</h1>
                    <div>
                        <a href="cms-about-setting.html" class="button">Manage</a>
                    </div>
                </div>

                <div class="dash-item center">
                    <h1>Contact Me</h1>
                    <div>
                        <a href="cms-contact-setting.html" class="button">Manage</a>
                    </div>
                </div>

                <div class="dash-item center">
                    <h1>Messages</h1>
                    <div>
                        <a href="cms-message.html" class="button">Manage</a>
                    </div>
                </div>

                <div class="dash-item center">
                    <h1>Site Traffic</h1>
                    <div>
                        <a href="cms-traffic.html" class="button">Manage</a>
                    </div>
                </div>

            </div>
        </div>

        


    </body>
</html>