<!DOCTYPE html>
<html>
    <head>
        <title>CMS Dashboard</title>
        <link rel="stylesheet" href="css/global.css" />
        <link rel="stylesheet" href="css/cms.css" />
    </head>
    <body>

        <div id="dash-header" class="row">
            <div class="row-mid">
                <div class="left">Welcome, Arnie Alejandro</div>
                <div class="right">
                    <a href="cms-dashboard.html" class="button" style="background-color: rgb(131, 211, 52);">Home</a>
                    <a class="button">Logout</a>
                </div>
            </div>
        </div>

        <div id="dash-title" class="row">
            <div class="row-mid">
                <h1>Site Traffic</h1>
            </div>
        </div>

        <div class="row">
            <div class="row-mid">
                <table style="width: 100%" class="table-list">
                    <tr class="header">                        
                        <td style="width: 12%">IP Address</td>
                        <td style="width: 50%">User Agent</td>
                        <td style="width: 28%">URL</td>
                        <td style="width: 10%">Time</td>                        
                    </tr>
                    <tr class="list">                        
                        <td>192.255.168.224</td>
                        <td>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36</td>
                        <td>arnie.arnieio.com/about.html</td>                        
                        <td>01:30 PM</td>                        
                    </tr>
                    <tr class="list">                        
                        <td>192.255.168.224</td>
                        <td>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36</td>
                        <td>arnie.arnieio.com/about.html</td>                        
                        <td>01:30 PM</td>                        
                    </tr>
                    <tr class="list">                        
                        <td>192.255.168.224</td>
                        <td>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36</td>
                        <td>arnie.arnieio.com/about.html</td>                        
                        <td>01:30 PM</td>                        
                    </tr>
                    <tr class="list">                        
                        <td>192.255.168.224</td>
                        <td>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36</td>
                        <td>arnie.arnieio.com/about.html</td>                        
                        <td>01:30 PM</td>                        
                    </tr>
                    <tr class="list">                        
                        <td>192.255.168.224</td>
                        <td>Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36</td>
                        <td>arnie.arnieio.com/about.html</td>                        
                        <td>01:30 PM</td>                        
                    </tr>

                    
                    
                </table>
            </div>
        </div>

    </body>
</html>