<!DOCTYPE html>
<html>
    <head>
        <title>Page</title> 
    </head>
    <body>
        First Name: <input type="text" /><br/>
        Last Name: <input type="text" /><br/>
        Married: <input type="checkbox" /><br/>
        Gender: 
            Male<input type="radio" name="gender"> 
            Female<input type="radio" name="gender"><br/>
        City:   <select>
                    <option>Pasig</option>
                    <option>Makati</option>
                    <option>Marikina</option>
                </select> <br/>
        Photo: <input  type="file" />               
    </body>
</html>