<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>    
        <link rel="stylesheet" href="css/global.css" />
        <link rel="stylesheet" href="css/home.css" />
    </head> 
    <body>
        
        <div id="top-header" class="row-border fixed">

            <div class="row-mid">
                <div class="section left logo">
                    <img src="images/icons/logo.png" />
                </div>    
                <!--Float Right, right to left orientation-->
                <div class="section right link-login">
                    <a href="#" class="button">Login</a>
                </div>   
                <div class="section right links">
                    <a href="home.html">Home Page</a>
                    <a href="about.html">About Me</a>
                    <a href="contact.html">Contact Me</a>
                </div>
                <div class="clear"></div>
            </div>   

        </div>

     

        <div id="banner" class="row">
            <div class="message-section center">
                <h1>A new state of find</h1>
                <h2>We help people explore and analyze data differently using the power of search.</h2>
                <div><a class="button medium">Get Started</a></div>
            </div>       
        </div>


        <!------Assignment-------->

        <!------https://www.elastic.co/-------->
        <!------Our Customers bring search to life-------->

        <div id="portfolio">            
            <div class="texts center row-mid">
                <h1>Title</h1>
                <h2>From startups to the global 2000, Elastic powers search solutions for thousands of companies worldwide to find documents, monitor infrastructure, protect against security threats, and more.</h2>
            </div>
            <div class="thumbnails center row-mid">
                <a><img src="images/icons/logohome-microsoft.svg" /></a>
                <a><img src="images/icons/logohome-microsoft.svg" /></a>
                <a><img src="images/icons/logohome-microsoft.svg" /></a>
                <a><img src="images/icons/logohome-microsoft.svg" /></a>
                <a><img src="images/icons/logohome-microsoft.svg" /></a>               
            </div>
            <div class="link center row-mid">
                <a href="#">View All ---></a>
            </div>
        </div>

        <!------/Assignment-------->

       

      
        
        
        
    </body>
</html>